<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firstgroup.com.smallsun">
     

    <!-- 允许程序打开网络套接字权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 保持屏幕常亮所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取手机联系人信息所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 向SD卡写入文件所需权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡状态所需权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 手机震动所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 创建和删除文件所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 查询网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 调用系统窗口所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用户定位所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 相机的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序修改全局音频设置 比如说：存储位置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录制语音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="firstgroup.com.app.MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustPan|stateHidden"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e2e04f4c10ef6392d185ed64d50e227d" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:hardwareAccelerated="false" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".qunactivity.AllQunListActivity" />
        <activity
            android:name=".qunactivity.QunLiaotian"
            android:parentActivityName=".qunactivity.AllQunListActivity" />
        <activity android:name=".qunactivity.QunInfo" />

        <service android:name="firstgroup.com.service.GroupMemberService" />
        <service android:name="firstgroup.com.service.RelationService" />

        <activity android:name=".huactivity.Act_ChatShow" />
        <activity android:name=".AddFrindsActivity" />
        <activity android:name=".huactivity.Act_zhoubian" />
        <activity android:name=".huactivity.Act_Leida" />
        <activity android:name=".huactivity.Act_ShengchengEWM" />
        <activity
            android:name=".huactivity.Act_SaomiaoEWM"
            android:screenOrientation="landscape" />

        <service android:name="firstgroup.com.service.DangLiaoService" />

        <activity android:name=".shequ.CreateTopic" />
        <activity android:name=".huactivity.Act_WeiZhi" />
        <activity android:name=".shequ.AllPinglunByIdActivity" />
        <activity android:name=".qunactivity.AllMemberActivity" />
        <activity android:name=".qunactivity.YaoqingActivity" />
        <activity android:name=".qunactivity.TirenActivity" />
        <activity android:name=".qunactivity.PersonalinformationActivity"></activity>
        <service android:name="firstgroup.com.service.NetworkStateService"></service>
    </application>

</manifest>
